.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: antiquewhite !important;
  }
  
  
  .start-btn {
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .start-btn:hover {
    background-color: #21a1f1;
  }
  